body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  margin: 0;
}

.dashboard-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  width: 223.43px;
  height: 204.92px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.card:hover p{
  background: #000000;
  color: white;
  border-color: #ffffff;
}

p {
  text-align: center;
  margin: 0;
}

